<h1>Who am I</h1>

Hi! I'm Sofia. I am a 11 years old girl who lives in Chile.
I learned how to read when I was 3. I started playing piano the next year
and then I then I learned how to play the violin. I went to School of Rock where I learned the drums. I started progamming at 10 in my school. Some months later I knew about Desafío Latam in my city, Santiago. Now I'm finishing a Fullstack carreer.


<h1>Why I made this page</h1>
If you have any questions, email me at contact.codeclassroom@gmail.com