<h1>Hi! I made this page to help everyone learn code! First make an account or go to the kids section. Select a tutorial. Start learning!</h1>

<h1>What should I learn?</h1>
<p>There are different types of programming languages for different tasks, so, <strong>What should I learn?</strong> I will tell you the anwser.</p>

<div class="box">
	<ul>
		<li>
			<a href="#game">I want to make a game</a>
		</li>
		<li>
			<a href="#web">I want to make a website</a>
		</li>
		<li>
			<a href="#app">I want to make a mobile app</a>
		</li>
		<li>
			<a href="#os">I want to make an operative system</a>
		</li>
	</ul>
</div>


<div id="game"><h1>I want to make a game</h1>
<p>Great! you know what you want! It's not that hard. List of languages you should learn together to make games: 
	<h2>The Unity3d bundle</h2>
	<p>With Unity3d, you can make 2d and 3d games with only C#! They run on mostmodern system including android, linux, windows, mac and much more! You need:</p>
	<div class="box">
		<ul>
			<li><a href="tutorials_CS_path">C#</a></li>
			<li><a href="tutorials_Unity_path">Unity3D</a></li>
		</ul>
	</div>
	</p>
	<h2>The Ruby Bundle</h2>
	<p></p>
</div>