<h1>Python is fun!</h1>
<h2>Learn python with me, we will dive to the world of python!</h2>
<br>
<div class="center">
	<div id="intro">
		<h1>Introduction</h1>
		<p>Would you like to learn computer programming? Would you like to make awesome websites?<br>This is your place! Python is a programming language, with it you can make from awesome websites, to wi/fi router software, to desktop apps! So, what are you waiting for? Keep reading!</p>
	</div>

	<div id="gs">
		<h1>Getting started</h1>
		<p>So... If you use Linux, python is already installed. The difference, is that it's a <strong>Command Line Interface program (CLI)</strong>. We will learn about that later. If you use Windows, follow <a href="https://docs.python.org/3/using/windows.html">This guide</a> and if you have a mac, use <a href="">this</a>.</p>
	</div>

	<div id="firstapp">
		<h1>Your first app!</h1>
		<p></p>
	</div>
</div>