<div class="center">
	<h1>Ruby, the friendly programming language</h1>
	<p>Ruby was designed to make programmers happy! Dive with me into the basics of ruby.</p>
	<div id="intro">
		<a href="#intro"><h1>Introduction to the Ruby language</h1></a>
		<p>
        Ruby is a language created by Yukihiro "Matz" Matsumoto to make programmers happy. It has a very easy way to be written and is very understandable. Ruby is an interpretated language meaning the language does not need to be <strong><code>compiled</code></strong>. Compiling means you need to turn your ruby code to code the machine understand. Instead, the interpreter reads the file  and then compiles it INSIDE of the computer. Which means you don't have to manually test your code all the time. And, you can use Ruby <strong>frameworks</strong> to make very cool websites! Actually, this website was made with the Ruby framework Rails, so this is an example of a website made with Ruby! Cool, right? I will teach you how to make websites like this! Ready? Let's start!
		</p>
    </div>
    <div id="install">
        <p>To install ruby, go to the official website at ruby-lang.org, and choose the version for your <strong>Operative System</strong>. If you need help, ask your parents.
        </p>
    </div>
    <div id="get-started">
        <p>Hi! I'm happy you decided to learn ruby as it is a very easy language to learn,
					and you will be able to make so many things with it! As I said before,
					this website was made with ruby, and some other web languages like html, css, and javascript. But I didn't have to code ALL the javascript,
					 or css, or even HTML. Actually, there is more behind this website other than the basic web languages.
					 Things like database files have been used, and some files that are way too hard to understand. That's why, I used a
					 <strong>framework</strong> to help me. A framework generates many database files and template files,
					to make it easy to focus on the content and dynamics of the page. But that doesn't mean that we don't code at all.
					It's the other way around, actually. We use ruby to manage all the database files, different pages of the sites, and how the user interacts.</p>
    <div>
			<div id="first-program">
				<p>First, you should understand that ruby runs on the terminal. The terminal, is where you run all the code,
					and can see what your site is doing under the hood. It's very easy to get to the command line, as we will call it from now on.
					<div class="alert alert-danger">
					  <strong>Danger!</strong>There is very dangerous code you should never run. Only input your password when I tell you to.
					</div>
					Ok, with that in mind, let's start coding! First, open your text editor (article on text editors <a href="#">here</a>), and type: <code>puts "Hello World"</code> Now save it. If you use an operative system (article on them <a href="#">here</a>) called Linux, maybe you heard of it like Ubuntu, Debian, or Linux mint, open the apps section, on ubuntu it is called dash, and search for terminal.
				</p>
			</div>
</div>
