<div class="center">
	<h1>Ruby, the friendly programming language</h1>
	<p>Ruby was designed to make programmers happy! Dive with me into the basics of ruby.</p>
	<div id="intro">
		<a href="#intro"><h1>Introduction to the Ruby language</h1></a>
		<p>
			Ruby is a language created by Yukihiro "Matz" Matsumoto to make programmers happy. It has a very easy way to be written and is very understandable. Ruby is an interpretated language meaning the language does not need to be <strong><code>compiled</code></strong>. Compiling means you need to turn your ruby code to code the machine understand. Instead, the interpreter reads the file  and then compiles it INSIDE of the computer. Which means you don't have to 
		</p>
	</div>
</div>