<h1>Editing Tutorial Maker Admin</h1>

<%= render 'form', tutorial_maker_admin: @tutorial_maker_admin %>

<%= link_to 'Show', @tutorial_maker_admin %> |
<%= link_to 'Back', tutorial_maker_admins_path %>
