<h1>The assembly programming language!</h1>
<h2>Assembly is: </h2>
<ul>
	<li>Low level</li>
	<li>Probably installed in your computer</li>
	<li>Easier to learn than what you think!</li>
</ul>
<h2>So... Do you want to learn assembly?</h2>

<h1>Resources: </h1>

<ol>
	<li><a href="http://www.plantation-productions.com/Webster/">Art Of Assembly</a></li>
</ol>