<h1>From posts:</h1>
<div class="row">
	<div class="col-md-3">
		<div class="thumbnail">
			<img src="<%= asset_path 'bash-9-useful-commands.png' %>" alt="" class="post-tb">
	<p>Did you ever had to edit a file when your computer is out of service?</p>
	<p>Ever needed to know what users are logged in?</p>
			<a href="<%= posts_bash_9_very_useful_commands_path %>">Learn more...</a>
		</div>
	</div>
</div>