<h1><img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Dart-logo.png" alt="Dart logo" class="emoji">The Dart programming language</h1>

<a href="http://dartlang.org">Official Website</a>
<br>
<br>

<div style="width:100%; font-size: 100%; ">
	<a href="<%= posts_google_langs_post_tutorials_path %>" class="important info btn btn-info-flat" >Introduction to Google Programming languages</a>
</div>

<br>
<br>

<a href="<%= dart_final_test_path %>">Take Final test</a>