<h1>NodeJS is a framework for <a href="<%= tutorials_JS_path %>">Javascript</a></h1>
<h3>To learn javascript you can do it right <a href="<%= tutorials_JS_path %>">here</a></h3>
<div class="col-md-4 thumbnail">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="">
	Basic Tutorial
</div>
<div class="col-md-4 thumbnail">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="">
	Basic Tutorial
</div>
<div class="col-md-4 thumbnail">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="">
	Basic Tutorial
</div>


<div class="col-md-4 thumbnail">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="">
	<a href="https://www.w3schools.com/nodejs/">External Tutorial for Begginners</a>
</div>