<div class="col-md-4">
	<a href="https://cran.r-project.org/manuals.html" class="btn btn-info-flat">Official R Manuals</a>
	<br>
	<br>
	<a href="https://campus.datacamp.com/courses/free-introduction-to-r/chapter-1-intro-to-basics-1?ex=1" class="btn btn-info-flat">A great tutorial for begginers (external)</a>
	<br>
	<br>
	<a href="<%= r_c1p1_path %>" class="btn btn-info-flat">Begginers tutorial</a>
	<br>
	<br>
	<a href="<%= r_cheatsheet_path %>" class="btn btn-info-flat">R CheatSheet</a>
	<br>
	<br>
	<a href="<%= r_test1_path %>" class="btn btn-info-flat" onclick="alert('Get Ready!')">First Test</a>
</div>