<a href="<%= ruby_c1p1_path %>">Ruby For Starters!</a>
<h1>Libraries/Gems: </h1>
<div class="thumbnail col-md-2"><a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt=""></a></div>
<div class="thumbnail col-md-2"><a href="<%= tutorials_GosuRuby_path %>"><img class="logo" src="<%= asset_path 'Gosu_logo.png' %>" alt=""></a></div>
<div class="thumbnail col-md-2"><a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt=""></a></div>
<div class="thumbnail col-md-2"><a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt=""></a></div>
<div class="thumbnail col-md-2"><a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt=""></a></div>