<h2>A variable is defined like this: <var>a</var> = 3</h2>
<select name="var" id="">
	<option value="">True</option>
	<option value="">False</option>
</select>

<h2>You add like this to give the value to a variable: <var>x</var> <- 4 + 4</h2>
<select name="add" id="">
	<option value="">True</option>
	<option value="">False</option>
</select>

<br>
<br>

<a href="<%= tutorials_R_path %>" onclick="let grade=1.9; alert('You didn\'t aprove because you did a ' + grade)" class="btn btn-info-flat">Submit</a>