<a href="<%= pdfs_ruby_1_path %>"><img src="<%= asset_path 'TheRubyAppRendice.png' %>" alt="" class="col-md-3"></a>

<a href="<%= pdfs_php_1_path %>"><img src="<%= asset_path 'PHP_Intro.png' %>" alt="" class="col-md-3"></a>