<img src="<%= asset_path 'PHP_Intro.png' %>" alt="" class="col-xs-12 col-md-4 -col-md-offset-4">

<div class="details col-md-3">
	<h4><b>Title</b>: PHP Introduction</h4>
	<h4><b>Author</b>: Sofia Dorta</h4>
	<h4><b>Lenght</b>: 100 Pages </h4>
	<h4><b>Language</b>: PHP</h4>
	<h4><b>Difficulty</b>: Easy</h4>

	<a href="<%= asset_path 'php1PdfVersion.pdf' %>">
			<button class="btn btn-info-flat">Download</button>
	</a>

</div>

<div class="description col-md-5">
		<h4><b>Description</b>: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis illo ipsam dolorem explicabo corporis ratione ducimus odit minima perferendis repellendus molestiae, iste reprehenderit amet saepe, blanditiis nihil sit, assumenda atque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur porro vitae necessitatibus eligendi quo mollitia maiores debitis magni sit nostrum! Dicta inventore cum odit, error, dolor labore. Beatae, libero dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui natus illum, praesentium esse fugit. Eligendi nostrum, suscipit in aut dignissimos voluptas qui. Omnis tempora quis, voluptates nostrum ad. Veniam, accusantium.</h4>
</div>