<h1>List - 9 very useful commands</h1>
<p>Did you ever had to edit a file when your computer is out of service?</p>
<p>Ever needed to know what users are logged in?</p>

<p>Here I present you the most useful commands in an Unix Bash shell</p>

<pre>1. nano</pre>
From the manual page: nano - Nano's ANOther editor, an enhanced free Pico clone

A simple text editor, that can be very useful at times. When you need a quick text editor, nano is perfect for you! If you use nano you will know what <kbd>ctrl</kbd><kbd>+</kbd><kbd>O</kbd>  <kbd>Enter
</kbd><kbd>ctrl</kbd><kbd>+</kbd><kbd>x</kbd> mean ;)!

<pre>2. file</pre>
From the manual page: file — determine file type
<pre>3. pwd</pre>
From the manual page: pwd - print name of current/working directory
<pre>4. cat</pre>
From the manual page: cat - concatenate files and print on the standard output
<pre>5. touch</pre>
From the manual page: touch - change file timestamps
<pre>6. su</pre>
From the manual page: su - change user ID or become superuser
<pre>7. sudo</pre>
From the manual page: sudo, sudoedit — execute a command as another user
<pre>8. grep</pre>
From the manual page: grep, egrep, fgrep, rgrep - print lines matching a pattern
<pre>9. users</pre>
From the manual page: users  -  print the user names of users currently logged in to the current host

<br>
<br>