<h1>An Introduction to google languages</h1>

<div class="center">
	<h3>Google languages:</h3>

	<div class="col-md-3">
	<img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Kotlin-logo.png" alt="" class="mini-icon num85 center">
	<h3 class="center">Kotlin</h3>
	</div>

	<div class="col-md-3">
	<img src="http://www.unixstickers.com/image/data/stickers/golang/golang.sh.png" alt="" class="mini-icon num85 center">
	<h3 class="center">Go</h3>
	</div>

	<div class="col-md-3">
	<img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Dart-logo.png" alt="" class="mini-icon num85 center">
	<h3 class="center">Dart</h3>
	</div>
</div>

<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat culpa cum deserunt dolor illum iusto ipsa impedit ad soluta reiciendis doloribus, veniam eaque repellendus illo quisquam labore sed! Molestias, commodi?</div>
<div>Eos error non possimus rerum alias modi a impedit necessitatibus velit accusamus aperiam ipsam quibusdam voluptatum, incidunt et earum tempore sunt enim qui iste hic nihil dolores doloremque. Iure, alias.</div>
<div>Nesciunt cupiditate quod amet odio animi placeat tempore, qui tenetur, harum accusantium enim nostrum nihil facilis voluptates at corporis dolor labore et cum magni dolores repellat autem est, quisquam veniam.</div>
<div>Amet sint soluta nihil, labore cumque, officia eum laudantium alias illum distinctio consectetur tenetur natus, nam repudiandae fugit nemo ad id. Voluptate beatae repudiandae, at architecto similique quas quia iure.</div>
<div>Deserunt dolorum, beatae doloremque numquam, nobis, possimus quia ab architecto, atque culpa aspernatur consequatur. Eos, laboriosam laborum eveniet eligendi modi quasi, officia quis iure magnam aut. Deserunt delectus vel, voluptas.</div>
<div>Voluptatibus accusantium reiciendis fuga laborum necessitatibus eligendi dolore. Accusamus nesciunt veritatis hic aut quae eveniet nobis vitae? Quidem obcaecati ipsam, officia et, itaque voluptas omnis vero cupiditate, aliquam impedit sed!</div>
<div>Sed fuga eaque eligendi vitae officiis a assumenda modi itaque! Officia tenetur ut, odit, dicta incidunt deserunt ratione quidem id aliquam necessitatibus iure ullam nemo non quod blanditiis sapiente aut.</div>
<div>Inventore fugiat, fugit temporibus eaque non beatae, odit quia veritatis deleniti quam voluptates. Cumque quasi sed quod culpa possimus voluptatibus quidem id, soluta, veniam pariatur, reiciendis, tempora distinctio cum similique!</div>