// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo{
	width: 100%;
}

.center{
	text-align: center;
}

.logo_c{
	width: 85%;
}

.tutorials-h1{
	font-weight: 900;
	font-size: 5em;
	color: #646464;
	margin-bottom: 40px;
}

@media screen and (max-width: 400px){
	.big-links{
	font-size: 1em;
}
}

@media screen and (min-width: 400px){
	.big-links{
	font-size: 2em;
}
}