<h1>Welcome to CSS Wonderland!</h1>
<h2 class="hover-touch"></h2>

<div class="circle" onclick="//$('.circle-down').css('display', 'inline')">
	<span class="circle-down">
		Css use type selectors
	</span>
</div>


<div class="animation"></div>

<div class="ascii-animation">
	<p>Hi</p>
</div>